@import '../settings.scss';
.wrapper {
    max-width: 1000px;
    padding: 0 40px 20px 40px;
    margin: 0 auto;
}
// .items_container {
// max-width: 500px;
// }
.items_wrapper {
    margin: 15px 0px 0px 0px;
    border-radius: 10px;
    overflow: hidden;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    & > :not(:last-child),
    & > :nth-last-child(2) {
        border-bottom: 2px solid $secondary;
    }
    @media (min-width: 900px) {
        grid-template-columns: repeat(2, 1fr);
        & > :nth-child(odd) {
            border-right: 2px solid $secondary;
        }
        & > :nth-last-child(2) {
            border-bottom: none;
        }
    }
}
