@import '../settings.scss';
.gameLevel {
    width: 100%;
    background: $primary;
    height: 80px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: none;
    box-shadow: $box-shadow;
    transition-duration: 0.2s;
    &:hover {
        background: $secondary;
        transition-duration: 0.2s;
        transform: translateY(4px);
        box-shadow: 0 0px rgba(119, 97, 255, 0.25);
    }
}
.image {
    align-self: flex-end;
    width: 80px;
    height: 90px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin: 0px 0px 5px 10px;
    img {
        height: 100%;
    }
    // border: 2px solid $background;
}
.text {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span,
    h3 {
        font-weight: 500;
        color: $font-color;
    }
    span {
        font-size: 30px;
        margin: 0px 10px 0px 0px;
    }
    h3 {
        margin: 0px 0px 0px 10px;
        font-size: 40px;
    }
}
