@import '../settings.scss';
.items_container {
    padding: 20px;
    display: flex;
    align-content: center;
    background: $primary;
    @media (max-width: 470px) {
        display: block;
    }
}
.item {
    width: 100%;
    display: flex;
    align-items: center;
    @media (max-width: 470px) {
        display: block;
    }
    .img_container {
        flex: 0 0 145px;
        height: 109px;
        display: flex;
        align-items: center;
        @media (max-width: 470px) {
            width: 200px;
            height: 150px;
            margin: 0px auto 10px auto;
        }
        span {
            border-radius: 5px;
            width: 100%;
            height: 100%;
            background-size: contain;
            background-position: 50%;
            background-repeat: no-repeat;
        }
    }
    .info {
        display: flex;
        flex: 1 1 100%;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        margin: 0px 0px 0px 10px;
        & > *:not(:last-child) {
            margin: 0px 0px 10px 0px;
        }
        @media (max-width: 470px) {
            display: block;
            margin: 0;
            width: 100%;
        }
        h2 {
            width: 100%;
            font-size: 18px;
            font-weight: 400;
            @media (max-width: 600px) {
                font-size: 16px;
            }
            span {
                font-size: 20px;
                font-weight: 600;
                @media (max-width: 600px) {
                    font-size: 18px;
                }
            }
        }
    }
}
